@model Contact

<h1>Edit Contact</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary btn-fixed-width" />
    </div>
</form>

<a asp-action="Index" class="btn btn-primary btn-fixed-width">Back to List</a>

<style>
.btn-fixed-width {
    width: 200px;
}
</style>